@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Open+Sans&display=swap');

*{
    font-family: 'Cairo', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden
}

.intro-main h6{
    font-size: 40px;
    letter-spacing: 0;
    font-weight: 800;
}

.intro-main h1{
    font-weight: 500
}

.intro-main p{
    font-size: 18pt;
    line-height: normal;
}

.dark-mode-toggle {
    position: absolute;
    z-index: 20;
    top: 3.2em;
    left: 2em;
    color: rgb(223, 230, 238);
    border: none;
    /* padding: 4px; */
    background: transparent;
    cursor: pointer;
    /* border-radius: 5px; */
    width: 40px;
    height: 40px;
  }
  
